
	#showcase-holder {
		width:100%;
		height:100%;
		position:fixed;
		top:0;
		overflow:hidden;
		box-sizing:border-box;
	}

	#showcase-slider {
		transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.1s!important;
		-webkit-transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.1s!important;
		z-index:1;
	}
	
	.img-mask {		
		top:0;		
		width:100%;
		height:100%; 
		margin:0;
		padding:0;
		position:absolute;
		padding:0;
		box-sizing:border-box;
		overflow:hidden;
		pointer-events:none;
		left:0;
		display:block;
	}
	
	.section-theme .img-mask {
		transform:translateX(28%);
		-webkit-transform:translateX(28%);
	}
	
	.transition .section-theme .img-mask, .transition .section-theme.flip-x .img-mask {
		transition: all 0.6s cubic-bezier(0.68, 0, 0.265, 1);
		-webkit-transition: all 0.6s cubic-bezier(0.68, 0, 0.265, 1);
		transform:translateX(0);
		-webkit-transform:translateX(0);
	}
	
	.section-theme.flip-x .img-mask {
		transform:translateX(-28%);
		-webkit-transform:translateX(-28%);
	}
	
	.section-image {
		position:absolute;
		height:100%;
		width:100%;
		z-index:0;
		padding:0;
		background-repeat:no-repeat;
		background-position:center center;
		box-sizing:border-box;
		display:table-cell;
		vertical-align:middle;
		text-align:center;
		background-size: initial;
	}
	
	.section-theme .section-image {
		background-size: 60% auto;
	}
	
	.caption {
		display:table;
		width:100%;
		height:100%;
		position:relative;
		z-index:1;
		width: calc(100% - 600px);
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	
	.content-caption {
		display: table-cell;
		vertical-align:middle;
		box-sizing: border-box;		
		position: relative;
		height: 100%;
		overflow:hidden;
	}
	
	.cc-container {
		padding-left: 80px;
		padding-right: 80px;
		display:block;		
		position: relative;
		box-sizing:border-box;
		width: 100%;
		transition: all 0.5s cubic-bezier(0.68, 0, 0.265, 1);
		-webkit-transition: all 0.5s cubic-bezier(0.68, 0, 0.265, 1);
	}
	
	.transition .cc-container {
		opacity:0;
		transform:translateX(-200px);
		-webkit-transform:translateX(-200px);
	}
	
	.half .cc-container {
		width: 50%;
	}
	
	.flip-x .cc-container {
		left:50%;
	}
	
	.transition .flip-x .cc-container {
		opacity:0;
		transform:translateX(200px);
		-webkit-transform:translateX(200px);
	}	
	
	.caption-bottom {
		position: absolute;
		bottom: 0;
		width: 50%;
		left: 50%;
		box-sizing: border-box;
		padding-left: 80px;
		padding-bottom: 100px;
		z-index:2;
	}
	
	.slide-list {
		margin:0;
	}
	
	.slide-list li {
		display:inline-block;
		margin-right:25px;
		font-size: 14px;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		color:#000;
	}
	
	.slide-item-info {
		font-size: 12px;
		color: #999;
		width: 100%;
		z-index: 10;
		margin-left:3px;
		position:relative;
		margin-bottom:25px;
	}
	
	.slide-item-info::before {
		background: none repeat scroll 0 0 #000;
		bottom: 9px;
		content: "";
		height: 1px;
		left: -30px;
		position: absolute;
		width: 16px;
		opacity:1;
	}	
	
	.slide-item-title {
		font-size: 40px;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		color:#000;
		position:relative;
		z-index:10;
		line-height:50px;
		max-width:850px;
		margin-top:3px;
		margin-bottom:45px;		
	}	
	
	.slide-item-description {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 16px;
		line-height:28px;
		color: #999;
		width: 50%;
		z-index: 10;
		margin-left:3px;
		margin-bottom:50px;
		padding-right: 80px;
		box-sizing: border-box;		
	}
	
	.half .slide-item-description {
		width:100%;
		padding-right:0;
	}
	
	.view-theme {
		height:60px;
		width:auto;
		display:block;
		
	}
	
	
	.slide-item-info.hero-one span {
		line-height: 15px;
	}
	
	.slide-item-title.hero-two  {
		line-height: 40px;
	}
	
	.slide-item-description.hero-three  {
		line-height: 10px;
	}
	
	
	
	
	
	.sa-one {
		transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0s;
		-webkit-transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0s;
	}
	
	.active .sa-one {
		transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.25s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.35s;
		-webkit-transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.25s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.35s;
	}
	
	.reverse .sa-one {
		transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0.15s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0.15s;
		-webkit-transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0.15s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0.15s;
	}
	
	.active.reverse .sa-one {
		transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.4s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.5s;
		-webkit-transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.4s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.5s;
	}
	
	
	
	
	.sa-two {
		transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0.05s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0.05s;
		-webkit-transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0.05s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0.05s;
	}
	
	.active .sa-two {
		transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.3s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.4s;
		-webkit-transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.3s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.4s;
	}
	
	.reverse .sa-two {
		transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0.1s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0.1s;
		-webkit-transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0.1s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0.1s;
	}
	
	.active.reverse .sa-two {
		transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.35s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.45s;
		-webkit-transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.35s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.45s;
	}
	
	
	
	
	.sa-three {
		transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0.1s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0.1s;
		-webkit-transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0.1s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0.1s;
	}
	
	.active .sa-three {
		transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.35s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.45s;
		-webkit-transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.35s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.45s;
	}
	
	.reverse .sa-three {
		transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0.05s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0.05s;
		-webkit-transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0.05s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0.05s;
	}
	
	.active.reverse .sa-three {
		transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.3s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.5s;
		-webkit-transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.3s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.5s;
	}
	
	
	
	
	.sa-four {
		transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0.15s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0.15s;
		-webkit-transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0.15s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0.15s;
	}
	
	.active .sa-four {
		transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.4s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.5s;
		-webkit-transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.4s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.5s;
	}
	
	.reverse .sa-four {
		transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0s;
		-webkit-transition: transform 0.8s cubic-bezier(0.68, 0, 0.265, 1) 0s, opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0s;
	}
	.active.reverse .sa-four {
		transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.2s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.4s;
		-webkit-transition: transform 1s cubic-bezier(0.68, 0, 0.265, 1) 0.2s, opacity 1s cubic-bezier(0.68, 0, 0.265, 1) 0.4s;
	}
	
	
	.section:nth-child(2) .sa-one, .section:nth-child(2) .sa-two, .section:nth-child(2) .sa-three, .section:nth-child(2) .sa-four {
		opacity:0;
		transform:translateY(15vh);
		-webkit-transform:translateY(15vh);
	}
	
	.section:nth-child(1) .sa-four {
		opacity:0;
		transform:translateY(0);
		-webkit-transform:translateY(0);
	}
	
	.animate .section:nth-child(1) .sa-four {
		opacity:1;
	}
	
	
	
	
	.view-project i {
		width:60px;
		height:60px;
		line-height:60px;
		position:absolute;
		left:0;
		top:0;
		text-align:center;
		font-size:10px;
		transition: all 200ms ease-out 0s;
	}
	
	.cc-container .view-project:hover i {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);		
		transition: all 200ms ease-out 0.1s;
	}
	
	.cc-container svg {
	  height: 60px;
	  width: 60px;
	  overflow:visible;
	}
	
	.cc-container svg text {
		font-size:12px;
		font-weight:400;
		line-height:20px;
		transition: all 300ms ease-out 0s;
	}
	
	.cc-container .view-project:hover text {
		transform:translateX(6px);
	}
	
	circle {
		fill: none;
		stroke: #000;
		stroke-width: 2;  
		stroke-dasharray: 0, 1000;
		stroke-dashoffset: -100;
		transform-origin: 50%;		
		animation-name: draw;
		animation-duration: 1s;
		animation-fill-mode: both;
	}
	
	.inner-c1 {
		stroke: #ccc;
		stroke-dasharray: 73, 1000;
    	stroke-dashoffset: -27;
		transform: rotate(-238deg);
		transition: all 300ms ease-out 0.15s;
	}
	
	.inner-c2 {
		stroke: #ccc;
		stroke-dasharray: 73, 1000;
    	stroke-dashoffset: -100;
		transform: rotate(188deg);
		transition: all 300ms ease-out 0.15s;
	}
	
	.outer-c0 {
		transform: rotate(0deg);
		transition: all 400ms linear;
		stroke-dasharray: 0, 1000;
    	stroke-dashoffset: -100;
		transition: all 300ms ease-out 0s;
	}
	
	.cc-container .view-project:hover .inner-c1 {
		stroke-dasharray: 0, 1000;
		stroke-dashoffset: -100;
		stroke-width: 2;
		transition: all 300ms linear 0s;
	  }
	
	.cc-container .view-project:hover .inner-c2 {
		stroke-dasharray: 0, 1000;
		stroke-dashoffset: -100;
		stroke-width: 2;
		transition: all 300ms linear 0s;
	  }
	
	.cc-container .view-project:hover .outer-c0 {
		stroke-dasharray: 144, 1000;
		stroke-dashoffset: -15;		
		stroke-width: 2;
		transition: all 300ms linear 0.15s;
	  }
	
	
	
	
	
	
	#counter-holder {
		display: inline-block;
		margin: 0 auto;
		position: absolute;
		bottom: 80px;
		right: 80px;
		width: 100%;
		height: 20px;
		box-sizing: border-box;
		width: 80px;		
		z-index: 5;
	}
	
	#page-counter-mask {
		width: 80px;
		height: 20px;
		position: relative;
		bottom: 0;
		overflow: hidden;
		opacity: 1;
		margin:0 auto;
		-webkit-transition: all 0.3s ease-in-out 0.15s;
		-moz-transition: all 0.3s ease-in-out 0.15s;
		-o-transition: all 0.3s ease-in-out 0.15s;
		transition: all 0.3s ease-in-out 0.15s;
	}
	
	#page-counter-mask.fade-out {
		opacity:0;
	}
	
	#page-counter-mask::before {
		background-color: #9000ff;
		content: "";
		height: 8px;
		left: 40px;
		opacity: 1;
		position: absolute;
		top: 6px;
		width: 1px;
	}
	
	.project-light-content #counter-total {
		color: #fff;
	}
	
	#page-counter {
		bottom: 50px;
		height: 20px;
		left: 0px;
		line-height: 20px;
		margin: 0;
		overflow: visible;
		padding: 0;
		position: absolute;
		text-align: left;
		width: 40px;
		z-index: 100;
		-webkit-transition: all 0.6s ease-in-out 0.8s;
		transition: all 0.6s ease-in-out 0.8s;
	}
	
	#page-counter li {
		list-style:none;
		font-weight: 400;
		color:#fff;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		margin:0;
		padding:0;
		display:block;
		width:40px;		
	}
	
	#counter-total {
		color: #fff;
		content: "25";
		font-family: "Roboto",sans-serif;
		font-size: 18px;
		font-weight: 400;
		left: 40px;
		width:40px;
		line-height: 20px;
		position: absolute;
		top: 0;
		text-align:right;
	}


	#fp-nav.left {
		pointer-events:none;
		left: 140px!important;
		top: auto;
		bottom: 60px;
		transition: opacity 0.6s cubic-bezier(0.68, 0, 0.265, 1) 0s;
	}
	
	#fp-nav.left.move-right {
		left: auto!important;
		right: 140px!important;
	}
	
	#fp-nav ul li, .fp-slidesNav ul li {
		width: 20px!important;
		margin: 30px 0px!important;
	}
	
	#fp-nav ul li a, .fp-slidesNav ul li a {
		height: 20px!important;
		width: 20px!important;
	}
	
	#fp-nav ul li a::before {
		position: absolute;
		color: #999;
		font-weight:400;
		font-size: 10px;
		width: 20px;
		text-align: center;
		height: 20px;
		line-height: 20px;
	}
	
	#fp-nav ul li a.active::before, #fp-nav ul li a:hover::before {
		color:#000;
	}
	
	#fp-nav ul li:nth-child(1) a::before {
		content: "01";
	}
	
	#fp-nav ul li:nth-child(2) a::before {
		content: "02";
	}
	
	#fp-nav ul li:nth-child(3) a::before {
		content: "03";
	}
	
	#fp-nav ul li:nth-child(4) a::before {
		content: "04";
	}
	#fp-nav ul li:nth-child(5) a::before {
		content: "05";
	}
	
	#fp-nav ul li:nth-child(6) a::before {
		content: "06";
	}
	
	#fp-nav ul li:nth-child(7) a::before {
		content: "...";
		font-size: 18px;
		line-height:5px;
		letter-spacing:1px;
	}
	
	#fp-nav ul li:nth-child(7) a::after {
		display:none;
	}
	
	#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
		height: 20px !important;
		width: 20px !important;
		margin: -10px 0 0 -10px !important;
		background: transparent !important;
	}
	
	#fp-nav ul li a span, .fp-slidesNav ul li a span {
    	background-color: transparent !important;
	}
	
	#fp-nav ul li a span, .fp-slidesNav ul li a span {
		height: 20px !important;
		width: 20px !important;
		margin: -10px 0 0 -10px !important;;
	}
	
	.section .vc_row {
		opacity:0;
		-webkit-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
	}
	
	.section.active .vc_row {
		opacity:1;
	}
	
	.user-review {
		color: #000;
		font-size: 12px;
		font-weight: 400;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.ls-anim_first, .ls-anim_second {
		opacity:0;
		webkit-transition: all 0.7s ease 0s;
		transition: all 0.7s ease 0s;	
	}
	
	.active .ls-anim_first {
		opacity:1;
		webkit-transition: all 0.7s ease 2s;
		transition: all 0.7s ease 2s;	
	}
	
	.active .ls-anim_second {
		opacity:1;
		webkit-transition: all 0.7s ease 2.1s;
		transition: all 0.7s ease 2.1s;	
	}
	
	
/*--------------------------------------------------
	16. Responsive
---------------------------------------------------*/			
			


@media only screen and (max-width: 1466px) {
		
	.caption {
		width: calc(100% - 300px);
	}
	
	.cc-container {
		padding-left: 60px;
		padding-right: 60px;
	}
	
	.slide-item-description {
		padding-right: 60px;
	}
	
	.caption-bottom {
    	padding-left: 60px;
	}
	
	#fp-nav.left {
		left: 70px!important;
		bottom: 30px;
	}
	
	#fp-nav.left.move-right {
		left: auto!important;
		right: 60px!important;
	}
	
	.load-more #fp-nav.left {
		display:none!important;
	}
	
}


@media only screen and (max-width: 1024px) {
	
	
	
	.content-caption {
		padding: 40px;
	}
	
	.cc-container {
		padding: 0;
	}
	
	.half .cc-container {
		padding-right: 40px;
	}
	
	.flip-x .half .cc-container {
		left: 50%;
		padding-right: 0;
		padding-left: 40px;
	}
	
	.slide-item-info {
    	margin-bottom: 15px;
	}
	
	.slide-item-info.hero-one.sa-one::before {
    	bottom: 20px;
	}
	
	.slide-item-info::before {
    	bottom: 12px;
	}
	
	.slide-item-title.hero-two {
		line-height: 30px;
	}
	
	.slide-item-title {
    	font-size: 30px;
		margin-bottom: 25px;
	}
	
	.slide-item-description {
    	width: 100%;
		font-size: 14px;
		line-height: 24px;
	}
	
	.caption-bottom {
		padding-left: 200px;
		width: 100%;
		left: 0;
	}
	
	.view-project {
		margin-top:10px;
	}
	
	.caption hr {
		height:15px;
	}
	
	#fp-nav.right {
		right: 40px!important;
	}
	
	
}


@media only screen and (max-width: 767px) {
	
	
	.caption {
		width: 100%;
	}
	
	.content-caption {
		padding: 40px;
	}
	
	.caption-bottom {
    	padding-left: 45px;
	}
	
	#fp-nav.left {
		display:none;
	}
	
}


@media only screen and (max-width: 479px) {
	
	.content-caption {
		padding: 30px;
	}
	
	.slide-item-title.hero-two.sa-two {
		margin-bottom:80px;
		line-height: 20px;
	}
	
	.caption-bottom {
		padding-left: 35px;
	}
	
	.section-theme .img-mask, .section-theme.flip-x .img-mask {
		transform: translateX(0) translateY(-15%);
		-webkit-transform: translateX(0) translateY(-15%);
	}
	
	.transition .section-theme .img-mask, .transition .section-theme.flip-x .img-mask {
		transform: translateX(0) translateY(0);
		-webkit-transform: translateX(0) translateY(0);
	}
	
	.section-theme .section-image {
		background-size: 75% auto;
	}
	
	.transition .cc-container {
		opacity:0;
		transform:translateX(0) translateY(100px);
		-webkit-transform:translateX(0) translateY(100px);
	}
	
	.transition .flip-x .cc-container {
		opacity:0;
		transform:translateX(0) translateY(100px);
		-webkit-transform:translateX(0) translateY(100px);
	}	
	
	
	.section-theme .content-caption {
		padding-bottom: 100px;
		vertical-align: bottom;
		text-align: center;
	}
	
	.slide-item-info::before {
		display:none;
	}
	
	.slide-item-title {
    	font-size: 24px;
		line-height: 20px;
	}
	
	.slide-item-title span {
		line-height: 30px;
		height: 30px;
		padding-top: 30px;
	}
	
	.slide-item-description {
		display:none;
	}
	
	.view-project i {
		left:50%;
		margin-left:-30px;
	}
	
	.half .cc-container {
		width: 100%;
		padding-right: 0;
	}
	
	.flip-x .half .cc-container {
    	left: 0;
		padding-left: 0;
	}
	
	.section-features .sa-one, .section-features .sa-two, .section-features hr, .section-features .clapat-icon i{
		display:none;
	}	
	
	.section-info h2 {
		font-size: 30px;
		line-height: 40px;
	}
		
}			
		